$PrimaryColor: #183041;
$SecondColor: #942714;
$PrimaryText: #011C1E;
$SecondText: #919191;

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}

body {
  &:lang(en) {
    direction: ltr;
  }
}
body {
  &:lang(ar) {
    direction: rtl;
    .navbar .serach_navbar .search_navbar .btn {
      left: 0.7rem;
      right: unset !important;
    }
    .index_cards .setting .personal_data form .form-group svg {
      left: 1rem;
      right: unset !important;
    }
    .index_cards .add_team .form-group svg {
      right: 0.7rem;
      left: unset !important;
    }
    .form-group select {
      background-position-x: 0 !important;
    }
    .questionnaires .questionnaires_card .link svg {
      transform: rotate(180deg);
    }
    .sidebar .problem a svg{
      transform: rotate(180deg);
    }
    .modal-header .btn-close {
      margin-inline-start: auto;
      margin-inline-end: 0;
    }
    .multiselect__tags {
      text-align: start;
    }
    .multiselect__select {
      left: 0;
      right: unset;
    }
    .setting .personal_data form .file-upload-form {
      right: 3%;
      left: unset;
    }
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
}
.multiselect__select::before {
  top: 1.4rem;
  border-color: #fff transparent transparent transparent;
}
.multiselect__option {
  text-align: start;
  font-family: "regular";
}
.pagination {
  .page-item {
    .page-link {
      background-color: transparent;
      border-color: #0e0f0f;
      border-width: 1px;
      color: $SecondText;
      font-size: 1.1rem;
      padding: 0.75rem 1.5rem;
    }
    &.active {
      .page-link {
        background-color: $PrimaryColor;
        color: #fff;
      }
    }
  }
  .active > .page-link,
  .page-link.active,
  .page-link:focus {
    box-shadow: unset;
    border-color: unset;
  }
}
ul {
  padding: 0;
}
a {
  text-decoration: none !important;
}
.not_found {
  font-family: "semibold";
  color: #fff;
  text-align: center;
  margin: 3rem 0 1rem;
}
.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
  border-color: transparent;
}
.multiselect__option--highlight {
  background-color: #0d6efd !important;
}
.multiselect__tag {
  background-color: $PrimaryText !important;
  .multiselect__tag-icon::after {
    color: #fff !important;
  }
}
.dataTables_filter,
.dataTables_length {
  label {
    color: #fff;
    font-family: "regular";
  }
}
.dataTables_wrapper {
  .dataTables_filter {
    input {
      margin: 0 0.5rem !important;
    }
  }
  .dataTables_length {
    select {
      padding: 0.25rem 0.75rem !important;
      margin: 0 0.5rem !important;
    }
  }
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #fff !important;
  font-family: "regular";
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #fff !important;
}
.btn.show {
  border-color: transparent !important;
}
.swal2-title {
  font-family: "semibold";
}
.form-control:focus {
  box-shadow: none !important;
  border-color: $PrimaryColor !important;
}
.view_all {
  color: $SecondText;
  font-family: "regular";
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000008c;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.title_section {
  font-family: "bold";
  color: $PrimaryColor;
  margin-bottom: 0;
}

.PrimaryButton {
  background-color: $SecondColor;
  color: #fff;
  font-size: .8rem;
  padding: .75rem 3rem;
  font-family: "semibold";
  transition: .7s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $SecondColor;
    border: 1px solid $SecondColor;
    transition: .7s ease-in-out;
  }
}
.SecondButton {
  background-color: transparent;
  color: $SecondColor;
  border: 1px solid $SecondColor;
  font-size: .8rem;
  padding: .75rem 3rem;
  font-family: "semibold";
  transition: .7s ease-in-out;
  &:hover {
    background-color: $SecondColor;
    color: #fff;
    transition: .7s ease-in-out;
  }
}

.TransparentButton {
  background-color: rgba($color: $SecondColor, $alpha: 0.1);
  color: $SecondColor;
  font-size: .8rem;
  padding: .75rem 3rem;
  font-family: "semibold";
  transition: .7s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $SecondColor;
    border: 1px solid $SecondColor;
    transition: .7s ease-in-out;
  }
}

.BlueButton {
  background-color: $PrimaryColor;
  color: #fff;
  font-size: .8rem;
  padding: .75rem 3rem;
  font-family: "semibold";
  transition: .7s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $PrimaryColor;
    border: 1px solid $PrimaryColor;
    transition: .7s ease-in-out;
  }
}

.TransparentBlueButton {
  background-color: transparent;
  color: $PrimaryColor;
  border: 1px solid $PrimaryColor;
  font-size: .8rem;
  padding: .75rem 3rem;
  font-family: "semibold";
  transition: .7s ease-in-out;
  &:hover {
    background-color: $PrimaryColor;
    color: #fff;
    transition: .7s ease-in-out;
  }
}

.filter_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  .form-group {
    width: 85%;
    position: relative;
    .form-control {
      font-family: "regular";
      font-size: .9rem;
      padding: .75rem;
      padding-inline-start: 2rem;
      border-color: transparent !important;
      &:focus {
        border-color: transparent !important;
      }
      &::placeholder {
        color: #a1a1a1;
      }
    }
    svg {
      position: absolute;
      top: 1rem;
      right: .5rem;
    }
  }
  .bootstrap-select {
    width: 15% !important;
    margin-inline-start: .75rem;
    .dropdown-toggle {
      background-color: transparent;
      padding: .8rem;
      &:hover {
        border-color: transparent !important;
      }
    }
    .dropdown-menu {
      li {
        a {
          text-align: start;
          font-family: "regular";
          font-size: .9rem;
          color: #000;
        }
      }
    }
    .filter-option-inner-inner {
      text-align: start;
      font-family: "regular";
      font-size: .8rem;
      color: #a1a1a1;
    }
  }
}

table {
  thead {
    background-color: $PrimaryColor;
    color: #fff;
    tr {
      font-family: "semibold";
      th {
        padding: .75rem .5rem !important;
        padding-inline-start: 2rem !important;
      }
    }
  }
  tbody {
    tr {
      font-family: "regular";
      color: $PrimaryText;
      vertical-align: middle;
      &:nth-child(odd) {
        background-color: rgba(24, 48, 65, .1);
      }
      &:nth-child(even) {
        background-color: #fff;
      }
      .dropdown {
        .dropdown-toggle {
          &:hover {
            border-color: transparent;
          }
          &::after {
            content: unset;
          }
        }
        .dropdown-menu {
          .dropdown-item {
            text-align: start;
          }
        }
      }
      th {
        padding: 1rem .5rem !important;
        padding-inline-start: 2rem !important;
      }
      td {
        padding: 1rem .5rem !important;
        padding-inline-start: 2rem !important;
      }
    }
  }
}

.index_cards {
  background-color: $PrimaryColor;
  margin-inline-start: 2rem;
  .content {
    margin-top: 5rem;
    .table_data {
      background-color: #F8F8FA;
      padding: 2rem;
      border-radius: 5px;
      margin-top: 2rem;
    }
    .add_item {
      border: 1px solid #D6D6D6;
      border-radius: 5px;
      margin: 1.5rem 0;
      padding: 2rem;
      .form-group {
        margin-bottom: 1.5rem;
        width: 55%;
        label {
          font-family: "semibold";
          color: $PrimaryColor;
          margin-bottom: .8rem;
        }
        .form-control {
          background-color: #F5F8FA;
          color: #A1A1A1;
          border-color: transparent;
          font-family: "regular";
          font-size: .9rem;
          padding: 1rem;
          resize: none;
          &:focus {
            border-color: transparent !important;
          }
          &::placeholder {
            color: #a1a1a1;
          }
        }
        .bootstrap-select {
          padding: 0;
          .dropdown-toggle {
            background-color: transparent;
            padding: 1rem;
            &:hover {
              border-color: transparent !important;
            }
          }
          .dropdown-menu {
            li {
              a {
                text-align: start;
                font-family: "regular";
                font-size: .9rem;
              }
            }
          }
          .filter-option-inner-inner {
            text-align: start;
            font-family: "regular";
            font-size: .8rem;
            color: #a1a1a1;
          }
        }
      }
      .upload_file {
        .upload_file_label {
          background-color: #F5F8FA;
          border: 1px dashed #D1D3D6;
          width: 100%;
          text-align: center;
          padding: 1.5rem;
          border-radius: 8px;
          cursor: pointer;
          svg {
            color: $SecondColor;
            font-size: 3.5rem;
          }
          p {
            font-family: "medium";
            color: #5F666F;
            margin: 1.5rem 0 .5rem !important;
          }
          span {
            font-family: "regular";
            color: #5F666F;
          }
        }
      }
      .halls_type {
        text-align: center;
        padding: 0;
        border-radius: 8px;
        width: 48.5%;
        display: inline-block;
        label {
          background-color: #F5F8FA;
          color: #A1A1A1;
          margin-bottom: 0;
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          border-radius: 8px;
        }
        
        input[type="radio"]:checked+label {
          background-color: $PrimaryColor;
          color: #fff;
        }
      }
      .content_course {
        text-align: center;
        padding: 0;
        border-radius: 8px;
        width: 100%;
        display: inline-block;
        label {
          background-color: #F5F8FA;
          color: #535353;
          margin-bottom: 0;
          padding: 1rem;
          width: 100%;
          cursor: pointer;
          border-radius: 8px;
          svg {
            color: #535353;
            font-size: 1.2rem;
            margin-inline-end: .5rem;
          }
        }
        
        input[type="radio"]:checked+label {
          background-color: rgba($color: $SecondColor, $alpha: .07);
          border: 1px solid $SecondColor;
          color: #2E0C06;
          svg {
            color: $SecondColor;
          }
        }
      }
      .PrimaryButton {
        font-size: 1rem;
        padding: .75rem 7rem;
      }
    }
    .teachers {
      margin-top: 2rem;
      border-radius: 5px;
      padding: 2rem;
      border: 1px solid #D6D6D6;
      .filter_table {
        .form-group {
          .form-control {
            background-color: rgba(143, 146, 161, .05);
          }
        }
        .bootstrap-select {
          .dropdown-toggle {
            background-color: rgba(143, 146, 161, .05);
          }
        }
      }
      .card_teacher {
        border-radius: 5px;
        border: 1px solid #D4D4D4;
        background-color: #fff;
        margin-bottom: 3rem;
        img {
          width: 100%;
          height: 200px;
          border-radius: 5px;
        }
        .data_teacher {
          padding: 1.5rem 1.5rem .8rem 1.5rem;
          .name {
            font-family: "semibold";
            color: $PrimaryText;
            margin: 0 0 .3rem !important;
          }
          .job {
            font-family: "regular";
            color: $SecondText;
            font-size: .9rem;
          }
          ul {
            list-style: none;
            li {
              margin-top: .7rem;
              svg {
                color: $SecondText;
                margin-inline-end: .5rem;
              }
              span {
                font-family: "regular";
                font-size: .9rem;
                color: $SecondText;
              }
            }
          }
        }
      }
    }
    .courses {
      margin-top: 2rem;
      border-radius: 5px;
      padding: 2rem;
      border: 1px solid #D6D6D6;
      .filter_table {
        .form-group {
          .form-control {
            background-color: rgba(143, 146, 161, .05);
          }
        }
        .bootstrap-select {
          .dropdown-toggle {
            background-color: rgba(143, 146, 161, .05);
          }
        }
      }
      .card_course {
        display: flex;
        justify-content: space-between;
        border: 1px solid #D4D4D4;
        border-radius: 10px;
        margin-bottom: 1.5rem;
        .data_course {
          display: flex;
          img {
            width: 250px;
            height: 230px;
            margin-inline-end: 1.5rem;
            border-radius: 0 10px 10px 0;
          }
          .data {
            padding: 1.5rem 0;
            .name {
              font-family: "semibold";
              color: $PrimaryText;
            }
            .teacher_name {
              .name {
                font-family: "regular";
                color: $SecondColor;
              }
              .type_course {
                font-family: "regular";
                color: $SecondColor;
                &:before {
                  content:"\A";
                  width:7px;
                  height:7px;
                  border-radius:50%;
                  margin-inline-end: 5px;
                  background: $PrimaryColor;
                  display:inline-block;
                }
              }
            }
            .info {
              svg {
                color: #919191;
                margin-inline-end: .5rem;
              }
              p {
                font-family: "regular";
                color: $PrimaryText;
                display: inline-block;
                .title {
                  color: #919191;
                }
              }
            }
          }
        }
        .dropdown {
          margin-top: 1.5rem;
          margin-inline-end: 1rem;
          .dropdown-toggle {
            border-color: transparent;
            &::after {
              content: unset;
            }
          }
          .dropdown-menu {
            .dropdown-item {
              text-align: start;
              font-size: .8rem;
              font-family: "regular";
            }
          }
        }
      }
    }
    .mytree {
      margin-top: 2rem;
      div {
        padding: 0 20px;
        color: #5F666F;
        font-family: "semibold";
        font-size: .8rem;
        .icon {
          &::after {
            content: "+";
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            width: 30px;
            height: 30px;
            background-color: #5F666F;
            color: #fff;
            border-radius: 5px;
            padding: .5rem;
            margin-inline-end: .5rem;
          }
        }
        &.university  {
          &.expanded {
            p {
              .icon {
                &::after {
                  content: "-";
                  background-color: $SecondColor;
                }
              }
            }
          }
          .faculty {
            p {
              .icon {
                &::after {
                  content: "+";
                  background-color: #5F666F;
                }
              }
            }
            &.expanded {
              p {
                .icon {
                  &::after {
                    content: "-";
                    background-color: $SecondColor;
                  }
                }
              }
            }
            .department {
              p {
                .icon {
                  &::after {
                    content: "+";
                    background-color: #5F666F;
                  }
                }
              }
              &.expanded {
                p {
                  .icon {
                    &::after {
                      content: "-";
                      background-color: $SecondColor;
                    }
                  }
                }
              }
              .division {
                p {
                  .icon {
                    &::after {
                      content: "+";
                      background-color: #5F666F;
                    }
                  }
                }
                &.expanded {
                  p {
                    .icon {
                      &::after {
                        content: "-";
                        background-color: $SecondColor;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        p {
          display: flex;
          align-items: center;
        }
      }
      
      .modal {
        .modal-dialog {
          display: block;
          .modal-content {
            display: block;
            .modal-header {
              display: flex;
              padding: var(--bs-modal-header-padding);
            }
            .modal-body {
              display: block;
              padding: var(--bs-modal-padding);
            }
            .modal-footer {
              display: flex;
              padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
            }
          }
        }
      }
    }
    .mytree div.parent div {
      display:none;
      /* cursor:default; */
    }
    .mytree {
      .university {
        &:nth-child(odd) {
          background-color: #fff;
          .subjects ul .subject {
            background-color: #F7F7F7;
          }
        }
        &:nth-child(even) {
          background-color: rgba($color: $PrimaryColor, $alpha: 0.05);
          .subjects ul .subject {
            background-color: #fff;
          }
        }
      }
      .bnt-sm {
        font-size: .7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
      }
    }
    .mytree .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-bottom: 1rem;
      padding: .5rem 0;
      .title {
        margin-bottom: 0;
        width: 90%;
      }
      .actions {
        margin-bottom: 0;
      }
    }
    .mytree div.parent {
      cursor:pointer;
    }
    .subjects {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        .subject {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "regular";
          color: #5F666F;
          padding: .5rem 1rem;
          border-radius: 32px;
          width: 20%;
          margin-inline-end: 5%;
          margin-bottom: 1.5rem;
          &:nth-child(4n) {
            margin-inline-end: 0;
          }
          .name {
            margin-bottom: 0;
            svg {
              margin-inline-end: .5rem;
            }
          }
          .delete {
            color: $SecondColor;
          }
        }
      }
    }
    .not_found {
      text-align: start;
      margin-top: 1rem;
      .modal {
        * {
          display: block !important;
        }
        .modal-dialog {
          max-width: 30%;
        }
        .modal-dialog-centered {
          display: flex !important;
        }
        .modal-content {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          color: var(--bs-modal-color);
          pointer-events: auto;
          background-color: var(--bs-modal-bg);
          background-clip: padding-box;
          border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
          border-radius: var(--bs-modal-border-radius);
          outline: 0;
        }
        .modal-body {
          position: relative;
          flex: 1 1 auto;
          padding: 2rem;
          .title_section {
            margin-bottom: 1.5rem;
          }
          .form-group {
            padding: 0;
            label {
              font-family: "medium";
              color: $PrimaryText;
              margin-bottom: .5rem;
            }
            .form-control {
              font-size: .8rem;
              padding: .75rem;
              background-color: #F5F8FA;
              margin-bottom: 1.5rem;
            }
          }
        }      
      }
    }
    .details_course {
      margin-top: 2.5rem;
      .info_head_course {
        text-align: center;
        padding: 2rem 3rem;
        background-color: #F5F8FA;
        border-radius: 5px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
        .course_name {
          margin: 2rem 0 1rem;
          font-family: "sembiold";
          color: $PrimaryText;
        }
        .teacher_name {
          color: $PrimaryText;
          font-family: "medium";
        }
        .edit_btn {
          font-family: "medium";
          padding: 1rem;
          width: 70%;
          font-size: .8rem;
          background-color: #fff;
          color: $PrimaryText;
          border: 1px solid $PrimaryText;
          border-radius: 8px;
          transition: .7s ease-in-out;
          &:hover {
            background-color: $PrimaryText;
            color: #fff;
            transition: .7s ease-in-out;
          }
        }
        .student_course {
          margin-top: 1.5rem;
          padding-top: 1.5rem;
          border-top: 1px solid $SecondText;
          .join_student_number {
            display: inline-flex;
            align-items: start;
            justify-content: center;
            width: 49%;
            .data {
              p {
                margin-bottom: 0.5rem;
                &.title {
                  font-family: "regular";
                  color: #595959;
                }
                &.text {
                  font-family: "medium";
                  color: $PrimaryText;
                }
              }
            }
            svg {
              color: $SecondColor;
              margin-inline-end: 0.5rem;
            }
          }
          .BlueButton {
            width: 70%;
            padding: 1rem;
            margin-top: 1.5rem;
          }
        }
      }
      .details {
        background-color: #F5F8FA;
        border-radius: 5px;
        padding: 2rem;
        .nav-tabs {
          .nav-item {
            .nav-link {
              color: #828C8D;
              font-family: "medium";
              padding: .75rem 2rem;
              &:hover {
                border-color: transparent;
              }
              &.active {
                color: $PrimaryText;
                background-color: transparent;
                border: transparent;
                border-bottom: 2px solid $SecondColor;
              }
            }
          }
        }
        .tab-content {
          .tab-pane {
            .video-js {
              height: 350px;
              margin-top: 4rem;
              .vjs-big-play-button {
                background-color: transparent;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin-top: 0;
                background-image: url('../media/image/icon/play.png');
                background-repeat: no-repeat;
                background-size: 70px;
                background-position: 50% calc(50% - 10px);
                border: none !important; // @stylint ignore
                box-shadow: none !important; // @stylint ignore
                &:before {
                  content: "";
                  display: none;
                }
                &:hover {
                  background-color: transparent;
                  opacity: .7;
                }
                .vjs-icon-placeholder {
                  &:before {
                    display: none
                  }
                }
              }
            }
            .title {
              font-family: "semibold";
              color: $PrimaryText;
              margin: 2rem 0 1.5rem;
            }
            .title_section {
              font-family: "semibold";
              color: $PrimaryText;
              margin: 3rem 0 1.5rem;
            }
            .university {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: #fff;
              padding: 1.5rem 3rem;
              border-radius: 5px;
              list-style: none;
              li {
                .title {
                  font-family: "regular";
                  color: #828282;
                  margin: 0;
                  margin-bottom: 1rem;
                }
                .text {
                  font-family: "medium";
                  color: $PrimaryText;
                  margin-bottom: 0;
                  font-size: 1rem;
                  width: 100%;
                }
              }
            }
            .subTitle {
              font-family: "semibold";
              color: $PrimaryText;
              margin: 2rem 0 1rem;
            }
            .list_content {
              list-style: none;
              .text {
                margin-bottom: 1rem;
              }
            }
            .acquired_skills {
              display: flex;
              list-style: none;
              margin-bottom: 0;
              li {
                background-color: #fff;
                color: #535353;
                padding: .75rem 1.5rem;
                border-radius: 20px;
                font-family: "regular";
                margin-inline-end: 1rem;
                font-size: .8rem;
              }
            }
            .text {
              font-family: "regular";
              color: #5F666F;
              font-size: 1.1rem;
              width: 90%;
            }
            .course_dates {
              .title {
                font-size: 1rem;
                svg {
                  color: $SecondColor;
                  margin-inline-end: 1rem;
                }
              }
              .list_group {
                width: 65%;
                list-style: none;
                .list_group_card {
                  background-color: #fff;
                  padding: 1rem;
                  margin-bottom: 1rem;
                  .title {
                    margin: 0;
                    svg {
                      color: $PrimaryText;
                      margin-inline-end: .7rem;
                    }
                  }
                  .actions {
                    .btn {
                      display: inline-flex;
                      align-items: center;
                      justify-content: center;
                      border: 1px solid $SecondColor;
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      margin-inline-start: 1rem;
                      svg {
                        color: $SecondColor;
                        font-size: .8rem;
                      }
                    }
                  }
                  .student_statistics {
                    display: flex;
                    align-items: center;
                    margin: 1rem 0 1.5rem;
                    .statistics_card {
                      display: flex;
                      width: 50%;
                      svg {
                        font-size: 1.2rem;
                        margin-inline-end: .7rem;
                      }
                      .title {
                        width: fit-content;
                        font-family: "regular";
                        color: #5F666F;
                        margin-inline-end: .5rem;
                      }
                      .text {
                        width: fit-content;
                        color: $PrimaryText;
                        margin-bottom: 0;
                      }
                    }
                  }
                  .dates {
                    display: flex;
                    list-style: none;
                    .card_date {
                      width: 33.3%;
                      svg {
                        color: $SecondColor;
                        margin-inline-end: .5rem;
                      }
                      span {
                        color: #535353;
                        font-family: "regular";
                        font-size: .9rem;
                      }
                    }
                  }
                }
              }
            }
            .modal {
              .modal-dialog {
                max-width: 40%;
              }
              .title {
                margin: 0 0 .5rem 0 !important;
              }
              .text {
                width: 80%;
              }
              .dates_list {
                .date_list {
                  display: flex;
                  align-items: center;
                  margin-top: 1.5rem;
                  .day {
                    font-family: "medium";
                    color: $PrimaryText;
                    width: 15%;
                    margin-bottom: 0;
                  }
                  .form-control {
                    width: 20%;
                  }
                  span {
                    display: block;
                    margin: 0 2rem;
                    color: #5F666F;
                    font-family: "medium";
                  }
                  .form-switch {
                    display: flex;
                    align-items: center;
                    padding-inline-start: 3rem;
                    padding-inline-end: 0;
                    .form-check-input {
                      float: right;
                      margin-left: 0.5rem;
                      height: 1.5em;
                      width: 3em;
                      &:checked {
                        background-color: $SecondColor;
                        border-color: $SecondColor;
                        &:focus {
                          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
                        }
                      }
                      &:focus {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
                        border-color: $SecondColor;
                        box-shadow: 0 0 0 0.25rem rgba($color: $SecondColor, $alpha: 0.25);
                      }
                    }
                    .form-check-label {
                      font-family: "medium";
                      color: #49505B;
                    }
                  }
                }
              }
              .form-group {
                margin: 2rem 0;
                label {
                  font-family: "medium";
                  color: $PrimaryText;
                  margin-bottom: .9rem;
                }
                .form-control {
                  background-color: #F5F8FA;
                  color: #5F666F;
                  font-family: "regular";
                  font-size: .8rem;
                  padding: 1rem;
                }
                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                /* Firefox */
                input[type=number] {
                  -moz-appearance: textfield;
                }
              }
              .PrimaryButton {
                display: block;
                margin-top: 1.5rem;
                width: 50%;
              }
            }
            .card_rate {
              width: 90%;
              margin-bottom: 1.5rem;
              .student_data {
                display: flex;
                align-items: center;
                img {
                  width: 70px;
                  height: 70px;
                  border-radius: 50%;
                  margin-inline-end: 1rem;
                }
                .name {
                  font-family: "semibold";
                  color: $PrimaryText;
                }
                .rating {
                  svg {
                    color: rgba($color: #E4AA3C, $alpha: 0.4);
                    &.active {
                      color: rgba($color: #E4AA3C, $alpha: 1.0);
                    }
                  }
                }
              }
              .date {
                font-family: "regular";
                color: #5F666F;
                font-size: .8rem;
              }
              .text {
                font-family: "regular";
                color: #596364;
                font-size: .9rem;
                margin-top: .8rem;
                width: 85%;
              }
            }
            .accordion {
              margin-top: 2rem;
              .accordion-item {
                margin-bottom: 1.5rem;
                .accordion-header {
                  .accordion-button {
                    color: $PrimaryText;
                    font-family: "semibold";
                    font-size: 1.1rem;
                    &::after {
                      margin-left: unset;
                      margin-inline-start: auto;
                    }
                    &:not(.collapsed) {
                      background-color: transparent;
                    }
                  }
                }
                .accordion-body {
                  .title {
                    margin: 0;
                    font-family: "bold";
                    color: $PrimaryText;
                  }
                  .actions {
                    .btn {
                      svg {
                        color: $SecondColor;
                        font-size: 1.2rem;
                      }
                      &:hover {
                        border-color: transparent;
                      }
                    }
                  }
                  .data {
                    margin-top: 1.1rem;
                    .text {
                      font-size: .9rem;
                    }
                    .statistics {
                      display: flex;
                      border: 1px solid #D4D4D4;
                      border-radius: 6px;
                      width: 85%;
                      .card_statistic {
                        width: 50%;
                        padding: .7rem 1.5rem;
                        .title {
                          margin-bottom: 1rem;
                          font-family: "regular";
                          color: #828282;
                        }
                        .text {
                          margin-bottom: 0;
                          font-family: "medium";
                          color: $PrimaryText;
                        }
                      }
                    }
                  }
                  .image_lesson {
                    width: 200px;
                    height: 170px;
                    border-radius: 9px;
                    margin-top: 1.1rem;
                  }
                  .student_learn {
                    list-style: none;
                    margin-top: 2rem;
                    li {
                      margin-top: 1rem;
                      font-family: "medium";
                      color: #2E0C06;
                    }
                  }
                  .content_lesson {
                    margin-top: 2rem;
                    .title {
                      padding-bottom: 1rem;
                      border-bottom: 1px solid #9D9D9D;
                      margin-bottom: 1.5rem;
                    }
                    .card_content_lesson {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      margin-bottom: 1.5rem;
                      .poster_video {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-inline-end: 1.5rem;
                        .poster {
                          width: 230px;
                          height: 160px;
                        }
                        .play {
                          position: absolute;
                          width: 50px;
                          height: 50px;
                        }
                      }
                      .data {
                        margin: 0;
                        .title {
                          border-bottom: 0;
                          padding-bottom: 0;
                          margin-bottom: .5rem;
                          font-family: "bold";
                        }
                        .text {
                          font-family: "regular";
                          margin-bottom: 1rem;
                        }
                        .info {
                          display: flex;
                          align-items: center;
                          margin-bottom: .5rem;
                          svg {
                            color: $SecondColor;
                            margin-inline-end: .5rem;
                          }
                          .title_info {
                            font-family: "regular";
                            color: #5F666F;
                            margin-bottom: 0;
                            margin-inline-end: .5rem;
                          }
                          .text_info {
                            font-family: "medium";
                            color: $PrimaryText;
                            margin-bottom: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .data {
              margin-top: 1.1rem;
              .text {
                font-size: .9rem;
              }
              .statistics {
                display: flex;
                background-color: #fff;
                border-radius: 6px;
                width: 85%;
                .card_statistic {
                  width: 50%;
                  padding: .7rem 1.5rem;
                  .title {
                    margin-top: 0;
                    margin-bottom: 1rem;
                    font-family: "regular";
                    color: #828282;
                  }
                  .text {
                    margin-bottom: 0;
                    font-family: "medium";
                    color: $PrimaryText;
                  }
                }
              }
            }
            .image_lesson {
              width: 200px;
              height: 170px;
              border-radius: 9px;
              margin-top: 1.1rem;
            }
            .student_learn {
              list-style: none;
              margin-top: 2rem;
              li {
                margin-top: 1rem;
                font-family: "medium";
                color: #2E0C06;
              }
            }
            .content_lesson {
              margin-top: 2rem;
              .title {
                padding-bottom: 1rem;
                border-bottom: 1px solid #9D9D9D;
                margin-bottom: 1.5rem;
              }
              .card_content_lesson {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.5rem;
                .poster_video {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-inline-end: 1.5rem;
                  .poster {
                    width: 230px;
                    height: 160px;
                  }
                  .play {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                  }
                }
                .data {
                  margin: 0;
                  .title {
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-top: 0;
                    margin-bottom: .5rem;
                    font-family: "bold";
                  }
                  .text {
                    font-family: "regular";
                    margin-bottom: 1rem;
                  }
                  .info {
                    display: flex;
                    align-items: center;
                    margin-bottom: .5rem;
                    svg {
                      color: $SecondColor;
                      margin-inline-end: .5rem;
                    }
                    .title_info {
                      font-family: "regular";
                      color: #5F666F;
                      margin-bottom: 0;
                      margin-inline-end: .5rem;
                    }
                    .text_info {
                      font-family: "medium";
                      color: $PrimaryText;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-color: #FAFAFA;
  .login_card {
    width: 55%;
    margin: 0 auto;
    padding: 4rem 3rem;
    background-color: #fff;
    border-radius: 12px;
    .title {
      color: $PrimaryText;
      text-align: center;
      font-family: "bold";
    }
    .text {
      text-align: center;
      color: $PrimaryText;
      font-family: "regular";
      text-align: center;
      display: block;
      margin-bottom: 3rem;
    }
    .form-group {
      margin-bottom: 1.5rem;
      label {
        margin-bottom: 0.7rem;
        font-family: "semibold";
        color: #fff;
      }
      input {
        background-color: transparent;
        color: $SecondText;
        border-radius: 5px;
        padding: 1rem;
        font-size: 0.8rem;
        font-family: "regular";
      }
    }
    .forget_password {
      display: block;
      color: $PrimaryText;
      margin-inline-start: auto;
      width: fit-content;
      font-family: "semibold";
    }
    .btn {
      width: 100%;
      background-color: $SecondColor;
      color: #fff;
      padding: 1rem;
      font-size: 0.8rem;
      margin-top: 1.5rem;
      font-family: "semibold";
      transition: 0.7s ease-in-out;
      &:hover {
        border: 1px solid $PrimaryText;
        color: $PrimaryText;
        background-color: transparent;
        transition: 0.7s ease-in-out;
      }
    }
  }
}

@import "./_layout.scss";
@import "./_responsive.scss";
