@media only screen and (max-width: 1200px) {
    .header {
        .text_header {
            width: 25%;
            top: 5rem;
        }
        .function_header {
            width: 50%;
        }
    }
    .offer {
        .offer_description {
            .text {
                width: 90%;
            }
        }
    }
    .bank_history {
        .nav-pills {
            width: 25%;
        }
        .tab-content {
            .card_about_bank {
                .text_about_card {
                    -webkit-line-clamp: 3;
                    height: 55px;
                }
            }
            .speech {
                .image {
                    img {
                        height: 200px;
                        width: 200px;
                    }
                    &::after {
                        height: 200px;
                        width: 200px;
                    }
                }
            }
        }
    }
}