footer {
  background-color: #323232;
  padding: 1.5rem;
  .logo {
    width: 150px;
    display: block;
    margin-bottom: 2rem;
  }
  .contact_info {
    width: 70%;
    margin-bottom: 1.5rem;
    .title {
      font-family: "semibold";
      color: #fff;
      font-size: 1.1rem;
    }
    .text {
      font-family: "regular";
      color: #d9d9d9;
    }
    .socialicon {
      display: flex;
      justify-content: start;
      margin-bottom: 0;
      li {
        list-style: none;
        margin: 7px 0 !important;
        a {
          width: 25px;
          height: 25px;
          text-align: center;
          background-color: #fff;
          line-height: 15px;
          font-size: 16px;
          margin: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          z-index: 1;
          .icon {
            position: relative;
            color: #fff;
            transition: 0.5s;
            z-index: 3;
            font-size: 15px;
          }
          &:hover {
            .icon {
              color: #fff;
              transform: rotateY(360deg);
            }
            &:before {
              top: 0;
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            /* background: #f00; */
            color: #fff;
            transition: 0.5s;
            z-index: 2;
          }
        }
        &:nth-child(1) {
          a {
            svg {
              color: #3b5999;
            }
            &:before {
              background: #3b5999;
            }
          }
        }
        &:nth-child(2) {
          a {
            svg {
              color: #55acee;
            }
            &:before {
              background: #55acee;
            }
          }
        }
        &:nth-child(3) {
          a {
            svg {
              color: #0077b5;
            }
            &:before {
              background: #0077b5;
            }
          }
        }
        &:nth-child(4) {
          a {
            svg {
              color: #dd4b39;
            }
            &:before {
              background: #dd4b39;
            }
          }
        }
      }
    }
  }
  .title_footer {
    color: #fff;
    font-family: "semibold";
    margin-bottom: 1.5rem;
  }
  .col-links {
    ul {
      list-style: none;
      li {
        margin-bottom: 1.5rem;
        .link_footer {
          color: #fff;
          font-family: "regular";
          font-size: 1rem;
        }
      }
    }
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    border-top: 0.5px solid #d3d3d3;
    .rights {
      color: #fff;
      font-family: "regular";
      margin-bottom: 0;
    }
    .item {
      a {
        font-family: "regular";
        color: #fff;
        font-family: "semibold";
        margin-inline-end: 2rem;
        &:last-child {
          margin-inline-end: 0;
        }
      }
    }
  }
}
